<div class="container">
    <h3>
        <button class="btn btn-success" [routerLink]="['/add-edit', 0]">Add</button>
    </h3>
    <div *ngIf="contactList.length == 0">
        Contact list is empty. Please create your contact list.
    </div>
    <table class="table" *ngIf="contactList.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contactList">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.gender}}</td>
                <td>{{contact.phone}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/add-edit', contact._id]">Edit</button>
                    <button class="btn btn-danger ml-2" (click)="onDelete(contact._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>